/* цвет основного текста прозрачность 100 %#212121 */
/* вторичный цвет #757575 */

/* акцент#2196F3 */

/* color: rgba(255, 255, 255, 0.6); это футер */

/* вторичный цвет фона color: F5F4FA */
/* основной цвет фона #FFFFFF */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --rare-color: #ffffff;
}

body {
  background-color: var(--rare-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Logo header  */

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-header {
  color: #000000;
}

/* Site nav */
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link {
  color: var(--primary-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}
/* Contacts */

.contacts-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link {
  color: var(--secondary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* Hero */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--rare-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Hero button */

.button-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--rare-color);
  cursor: pointer;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

/* Hidden Portfolio and particular */
.hidden {
  display: none;
}

/* Features  */

.features-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Works */
.works-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
/* Command */

.command-section {
  background-color: #f5f4fa;
}
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.command-subtitle {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.command-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/*  Footer */
.footer-content {
  background-color: #2f303a;
}

/* Logo Footer */
.logo-footer {
  color: var(--rare-color);
}

/* Footer Address */
.contacts-footer {
  list-style: none;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.link {
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.location-link {
  color: var(--rare-color);
}

.mail-footer {
  color: rgba(255, 255, 255, 0.6);
}
.phone-footer {
  color: rgba(255, 255, 255, 0.6);
}

/* POTFOLIO Buttons  */

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background: #f5f4fa;
  cursor: pointer;
  border-color: #f5f4fa;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--rare-color);
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*  Наши работы  */

.portfolio-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;
}
